[catalogs]
searchPriorities = []
sortOrders = []

    [[catalogs.globalScopes]]
    catalogIdentifier = 'brew.packages'

        [catalogs.globalScopes.scope]
        kind = 'none'

    [[catalogs.globalScopes]]
    catalogIdentifier = 'tuna.effects'

        [catalogs.globalScopes.scope]
        kind = 'none'

    [[catalogs.globalScopes]]
    catalogIdentifier = 'tuna.emoji'

        [catalogs.globalScopes.scope]
        kind = 'none'

    [[catalogs.globalScopes]]
    catalogIdentifier = 'tuna.smart-folders'

        [catalogs.globalScopes.scope]
        kind = 'none'

[[comboMode.bindings]]
key = 'c'
label = 'Coding'

    [comboMode.bindings.destination]
    type = 'group'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/ChatGPT.app'
        key = 'c'
        label = 'ChatGPT'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/ChatGPT.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Claude.app'
        key = 'l'
        label = 'Claude'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Claude.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Orca.app'
        key = 'o'
        label = 'Orca'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Orca.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/PhpStorm.app'
        key = 'p'
        label = 'PhpStorm'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/PhpStorm.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Visual Studio Code.app'
        key = 'v'
        label = 'Visual Studio Code'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Visual Studio Code.app' ]
                type = 'savedCommand'

[[comboMode.bindings]]
key = 'd'
label = 'Dev Tools'

    [comboMode.bindings.destination]
    type = 'group'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/GitButler.app'
        key = 'b'
        label = 'GitButler'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/GitButler.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Setapp/Gitfox.app'
        key = 'g'
        label = 'Gitfox'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Setapp/Gitfox.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/iTerm.app'
        key = 'i'
        label = 'iTerm'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/iTerm.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Xcode.app/Contents/Developer/Applications/Simulator.app'
        key = 's'
        label = 'Simulator'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Xcode.app/Contents/Developer/Applications/Simulator.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Setapp/TablePlus.app'
        key = 't'
        label = 'TablePlus'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Setapp/TablePlus.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Tower.app'
        key = 'w'
        label = 'Tower'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Tower.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Yaak.app'
        key = 'y'
        label = 'Yaak'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Yaak.app' ]
                type = 'savedCommand'

[[comboMode.bindings]]
key = 'f'
label = 'Files'

    [comboMode.bindings.destination]
    type = 'group'

        [[comboMode.bindings.destination.bindings]]
        key = 'c'
        label = 'Code'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:__HOME__/Code' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        key = 'd'
        label = 'Downloads'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:__HOME__/Downloads' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/System/Library/CoreServices/Finder.app'
        key = 'f'
        label = 'Finder'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/System/Library/CoreServices/Finder.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        key = 'h'
        label = 'hosmel'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:__HOME__' ]
                type = 'savedCommand'

[[comboMode.bindings]]
key = 'm'
label = 'Messaging'

    [comboMode.bindings.destination]
    type = 'group'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Discord.app'
        key = 'd'
        label = 'Discord'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Discord.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Slack.app'
        key = 's'
        label = 'Slack'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Slack.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Telegram.app'
        key = 't'
        label = 'Telegram'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Telegram.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/zoom.us.app'
        key = 'z'
        label = 'Zoom'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/zoom.us.app' ]
                type = 'savedCommand'

[[comboMode.bindings]]
key = 'r'
label = 'Remote'

    [comboMode.bindings.destination]
    type = 'group'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '__HOME__/Applications/Focus Hermes.app'
        key = 'h'
        label = 'Focus Hermes'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:__HOME__/Applications/Focus Hermes.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/System/Applications/Utilities/Screen Sharing.app'
        key = 's'
        label = 'Screen Sharing'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/System/Applications/Utilities/Screen Sharing.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Termius.app'
        key = 't'
        label = 'Termius'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Termius.app' ]
                type = 'savedCommand'

[[comboMode.bindings]]
key = 'u'
label = 'Utilities'

    [comboMode.bindings.destination]
    type = 'group'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/1Password.app'
        key = '1'
        label = '1Password'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/1Password.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/System/Applications/Utilities/Activity Monitor.app'
        key = 'a'
        label = 'Activity Monitor'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/System/Applications/Utilities/Activity Monitor.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Setapp/Compresto.app'
        key = 'c'
        label = 'Compresto'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Setapp/Compresto.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Google Chrome.app'
        key = 'b'
        label = 'Google Chrome'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Google Chrome.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Linear.app'
        key = 'l'
        label = 'Linear'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Linear.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/OrbStack.app'
        key = 'o'
        label = 'OrbStack'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/OrbStack.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Setapp/Paste.app'
        key = 'p'
        label = 'Paste'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Setapp/Paste.app' ]
                type = 'savedCommand'

[[comboMode.bindings]]
key = 'v'
label = 'Visual'

    [comboMode.bindings.destination]
    type = 'group'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Affinity.app'
        key = 'a'
        label = 'Affinity'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Affinity.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Figma.app'
        key = 'f'
        label = 'Figma'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Figma.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/Paper.app'
        key = 'p'
        label = 'Paper'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/Paper.app' ]
                type = 'savedCommand'

        [[comboMode.bindings.destination.bindings]]
        iconPath = '/Applications/tldraw offline.app'
        key = 't'
        label = 'tldraw offline'

            [comboMode.bindings.destination.bindings.destination]
            type = 'command'

                [comboMode.bindings.destination.bindings.destination.command]
                actionIdentifier = 'tuna.common-actions/open'
                behavior = 'run'
                presentation = 'automatic'
                subjectIdentifiers = [ 'path:/Applications/tldraw offline.app' ]
                type = 'savedCommand'

[hotkeys]
custom = []

    [hotkeys.app.activate]
    carbonKeyCode = 49
    carbonModifiers = 256

    [hotkeys.app.comboMode]
    carbonKeyCode = 49
    carbonModifiers = 256

[settings]
activationDoublePressTrigger = 'rightCommand'
appPresentationMode = 'never'
comboModeBackspaceBehavior = 'stepBack'
comboModeCheatsheetDelayMS = 750
comboModeCheatsheetExpandGroups = true
comboModeDoublePressTrigger = 'leftCommand'
comboModeModifierTrigger = 'rightCommand'
fuzzyModeTriggerType = 'doublePress'
resultListNavigationBindings = 'vimStyle'
screenPreference = 'primary'
switchToTextModeWhenNoResults = true
talkModeModifierTrigger = 'leftCommand'
talkModeTriggerType = 'doublePress'
textModeTriggerType = 'disabled'
themeIdentifier = 'com.brnbw.tuna.themes.Notch'
typingTimeoutDuration = 2.0

[[catalogSettings]]
catalogIdentifier = 'com.brnbw.tuna.themes.default'

    [catalogSettings.values]
    ThemeTint = 'system'

[[catalogSettings]]
catalogIdentifier = 'tuna.prompts'

    [catalogSettings.values]
    Provider = 'disabled'
    'Provider.openai.BaseURL' = 'https://api.openai.com/v1'
    'Provider.openai.Model' = 'gpt-5.4-mini'
